.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

body {
  background-color: #331f2f;
  padding: 16px;
}

a {
  color: white;
}

input, textarea {
  background-color: transparent;
  display: inline-grid;
  border: 0;
  padding: 16px;
  border-radius: 1px;
  font-size: 16px;
  font-weight: bold;
  color: #D8DEE9;
  border: 2px solid #161822;
  font-family: 'Courier New', Courier, monospace;
}

input:hover {
  background-color: #161822;
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
  height: 100px;
  width: 800px;
  font-size: 14px;
}

textarea:focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  color: #D8DEE9;
}

.card {
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #e0ca4bbe;
  background-color: rgb(24, 24, 24);
  vertical-align: top;
  justify-items: center;
}

